{% extends 'base.html' %}

{% block content %}
<div class="table-responsive container bg-light text-dark ">
    <table class="table ">
      <tbody>
        <tr class="text-center">
            <h4 class='text-center text-info'>{{  produto.nome  }}</h4>
          </tr>
        <tr class="">
          <td scope="row"><strong>Preço</strong></td>
          <td><span class='text-info'><strong>R$: {{  produto.preco  }} </strong></span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>Código:</strong></td>
          <td><span class='text-info'><strong> {{  produto.codigo }} </strong></span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>EAN: </strong></td>
          <td><span class='text-info'><strong> {{  produto.ean  }} </strong></span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>Unidade de Médida: </strong></td>
          <td><span class='text-info'><strong> {{  produto.unidademedida  }} </strong></span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>Categoria: </strong></td>
          <td><span class='text-info'><strong> {{  produto.categoria  }} </strong></span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>NCM: </strong></td>
          <td><span class='text-info'><strong> {{  produto.ncm  }} </strong></span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>Estoque Mínimo </strong></td>
          <td><span> {{  produto.estoquemin }} </span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>Estoque Máximo </strong></td>
          <td><span> {{  produto.estoquemax  }} </span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>Saldo Estoque: </strong></td>
          <td><span class='text-info'><strong> {{  produto.saldoestoque  }} </strong></span></td>
        </tr>
        <tr class="">
          <td scope="row"><strong>Cadastro: </strong></td>
          <td><span class='text-info'><strong> {{  produto.datacadastro }} </strong></span></td>
        </tr>
        <tr class="">
          {% if produto.ativo %}
          <td scope="row"><strong>Ativo: </strong></td>
          <td><span class='text-info'><strong> <i class="fa fa-check-circle-o ok text-success" aria-hidden="true"></i> </strong></span></td>
          {% else %}
          <td scope="row"><strong>Ativo: </strong></td>
          <td><span class='text-info'><strong><i class="fa fa-minus-circle no text-danger" aria-hidden="true"></i> </strong></span></td>
          {% endif %}
         
        </tr>
      </tbody>
    </table>
    <div class="footer text-center">
      <a href="{% url 'produto:editar'  produto.id %}"><i class="fas fa-edit  btn btn-primary" aria-hidden="true"></i></a>
      <a href="{% url 'produto:deletar'  produto.id %}"  onclick=(confirm('deseja Deletar?');)><i class="fas fa-trash-alt btn btn-danger" aria-hidden="true"></i></a>
      <i class="fab fa-dropbox btn btn-warning" aria-hidden="true"></i>
      <a class="btn btn-secondary" href="{% url 'produto:home' %}">
        <i class="fas fa-door-closed" aria-hidden="true"></i>
      </a>
      
      </div>
  </div>
{% endblock content %}