
    {% extends 'base.html' %}
    
    {% block content %}
  <div class='container'>
    <h1 class='text-center'>LISTA DE PRODUTOS</h1>
    <div class="table-responsive">
      <table class="table table-dark table-striped text-white">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">CODIGO</th>
            <th scope="col">CODIGO DE BARRAS</th>
            <th scope="col">NOME</th>
            <th scope="col">UNIDADE DE MEDIDA</th>
            <th scope="col">PREÇO</th>
            <th scope="col">ncm</th>
            <th scope="col">SALDO ESTOQUE</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">DATA DE CRIAÇÃO</th>
            <th scope="col">EDITAR</th>
            <th scope="col">EXCLUIR</th>
          </tr>
        </thead>
        <tbody>
          {% for prod in lista %}
          <tr class="">
            <td scope="row"> {{  prod.id  }} </td>
            <td>{{  prod.codigo  }}</td>
            <td>{{  prod.ean  }}</td>
            <td>{{  prod.nome  }}</td>
            <td>{{  prod.unidademedida  }}</td>
            <td>{{  prod.preco  }}</td>
            <td>{{  prod.ncm  }}</td>
            <td>{{  prod.saldoestoque  }}</td>
            <td>{{  prod.categoria  }}</td>
            <td>{{  prod.datacadastro  }}</td>
            <td><i class="fa fa-pencil text-primary" aria-hidden="true"></i></td>
            <td><i class="fa fa-trash-o text-danger" aria-hidden="true"></i></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

     {% endblock %}