# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
usuario/__pycache__/urls.cpython-311.pyc
usuario/__pycache__/views.cpython-311.pyc
venv/Lib/site-packages/_distutils_hack/__init__.py
venv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/_distutils_hack/__pycache__/override.cpython-39.pyc
venv/Lib/site-packages/_distutils_hack/override.py
venv/Lib/site-packages/distutils-precedence.pth
venv/Lib/site-packages/pkg_resources/__init__.py
venv/Lib/site-packages/pkg_resources/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/appdirs.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/pyparsing.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/appdirs.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__about__.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__init__.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/__about__.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_compat.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_structures.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_typing.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/markers.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/requirements.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/specifiers.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/tags.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/utils.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/version.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/_vendor/packaging/_compat.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/_structures.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/_typing.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/markers.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/requirements.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/specifiers.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/tags.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/utils.py
venv/Lib/site-packages/pkg_resources/_vendor/packaging/version.py
venv/Lib/site-packages/pkg_resources/_vendor/pyparsing.py
venv/Lib/site-packages/pkg_resources/extern/__init__.py
venv/Lib/site-packages/pkg_resources/extern/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/__pycache__/setup.cpython-39.pyc
venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/setup.py
venv/Lib/site-packages/setuptools-58.1.0.dist-info/entry_points.txt
venv/Lib/site-packages/setuptools-58.1.0.dist-info/INSTALLER
venv/Lib/site-packages/setuptools-58.1.0.dist-info/LICENSE
venv/Lib/site-packages/setuptools-58.1.0.dist-info/METADATA
venv/Lib/site-packages/setuptools-58.1.0.dist-info/RECORD
venv/Lib/site-packages/setuptools-58.1.0.dist-info/REQUESTED
venv/Lib/site-packages/setuptools-58.1.0.dist-info/top_level.txt
venv/Lib/site-packages/setuptools-58.1.0.dist-info/WHEEL
venv/Lib/site-packages/setuptools/__init__.py
venv/Lib/site-packages/setuptools/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/_deprecation_warning.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/_imp.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/archive_util.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/build_meta.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/config.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/dep_util.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/depends.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/dist.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/errors.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/extension.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/glob.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/installer.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/launch.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/monkey.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/msvc.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/namespaces.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/package_index.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/py34compat.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/sandbox.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/unicode_utils.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/version.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/wheel.cpython-39.pyc
venv/Lib/site-packages/setuptools/__pycache__/windows_support.cpython-39.pyc
venv/Lib/site-packages/setuptools/_deprecation_warning.py
venv/Lib/site-packages/setuptools/_distutils/__init__.py
venv/Lib/site-packages/setuptools/_distutils/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/_msvccompiler.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/archive_util.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/bcppcompiler.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/ccompiler.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/cmd.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/config.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/core.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/cygwinccompiler.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/debug.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/dep_util.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/dir_util.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/dist.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/errors.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/extension.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/fancy_getopt.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/file_util.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/filelist.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/log.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/msvc9compiler.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/msvccompiler.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/py35compat.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/py38compat.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/spawn.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/sysconfig.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/text_file.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/unixccompiler.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/util.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/version.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/__pycache__/versionpredicate.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/_msvccompiler.py
venv/Lib/site-packages/setuptools/_distutils/archive_util.py
venv/Lib/site-packages/setuptools/_distutils/bcppcompiler.py
venv/Lib/site-packages/setuptools/_distutils/ccompiler.py
venv/Lib/site-packages/setuptools/_distutils/cmd.py
venv/Lib/site-packages/setuptools/_distutils/command/__init__.py
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist_dumb.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist_msi.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist_rpm.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist_wininst.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/build.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/build_clib.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/build_ext.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/build_py.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/build_scripts.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/check.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/clean.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/config.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/install.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/install_data.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/install_egg_info.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/install_headers.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/install_lib.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/install_scripts.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/py37compat.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/register.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/sdist.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/upload.cpython-39.pyc
venv/Lib/site-packages/setuptools/_distutils/command/bdist.py
venv/Lib/site-packages/setuptools/_distutils/command/bdist_dumb.py
venv/Lib/site-packages/setuptools/_distutils/command/bdist_msi.py
venv/Lib/site-packages/setuptools/_distutils/command/bdist_rpm.py
venv/Lib/site-packages/setuptools/_distutils/command/bdist_wininst.py
venv/Lib/site-packages/setuptools/_distutils/command/build.py
venv/Lib/site-packages/setuptools/_distutils/command/build_clib.py
venv/Lib/site-packages/setuptools/_distutils/command/build_ext.py
venv/Lib/site-packages/setuptools/_distutils/command/build_py.py
venv/Lib/site-packages/setuptools/_distutils/command/build_scripts.py
venv/Lib/site-packages/setuptools/_distutils/command/check.py
venv/Lib/site-packages/setuptools/_distutils/command/clean.py
venv/Lib/site-packages/setuptools/_distutils/command/config.py
venv/Lib/site-packages/setuptools/_distutils/command/install.py
venv/Lib/site-packages/setuptools/_distutils/command/install_data.py
venv/Lib/site-packages/setuptools/_distutils/command/install_egg_info.py
venv/Lib/site-packages/setuptools/_distutils/command/install_headers.py
venv/Lib/site-packages/setuptools/_distutils/command/install_lib.py
venv/Lib/site-packages/setuptools/_distutils/command/install_scripts.py
venv/Lib/site-packages/setuptools/_distutils/command/py37compat.py
venv/Lib/site-packages/setuptools/_distutils/command/register.py
venv/Lib/site-packages/setuptools/_distutils/command/sdist.py
venv/Lib/site-packages/setuptools/_distutils/command/upload.py
venv/Lib/site-packages/setuptools/_distutils/config.py
venv/Lib/site-packages/setuptools/_distutils/core.py
venv/Lib/site-packages/setuptools/_distutils/cygwinccompiler.py
venv/Lib/site-packages/setuptools/_distutils/debug.py
venv/Lib/site-packages/setuptools/_distutils/dep_util.py
venv/Lib/site-packages/setuptools/_distutils/dir_util.py
venv/Lib/site-packages/setuptools/_distutils/dist.py
venv/Lib/site-packages/setuptools/_distutils/errors.py
venv/Lib/site-packages/setuptools/_distutils/extension.py
venv/Lib/site-packages/setuptools/_distutils/fancy_getopt.py
venv/Lib/site-packages/setuptools/_distutils/file_util.py
venv/Lib/site-packages/setuptools/_distutils/filelist.py
venv/Lib/site-packages/setuptools/_distutils/log.py
venv/Lib/site-packages/setuptools/_distutils/msvc9compiler.py
venv/Lib/site-packages/setuptools/_distutils/msvccompiler.py
venv/Lib/site-packages/setuptools/_distutils/py35compat.py
venv/Lib/site-packages/setuptools/_distutils/py38compat.py
venv/Lib/site-packages/setuptools/_distutils/spawn.py
venv/Lib/site-packages/setuptools/_distutils/sysconfig.py
venv/Lib/site-packages/setuptools/_distutils/text_file.py
venv/Lib/site-packages/setuptools/_distutils/unixccompiler.py
venv/Lib/site-packages/setuptools/_distutils/util.py
venv/Lib/site-packages/setuptools/_distutils/version.py
venv/Lib/site-packages/setuptools/_distutils/versionpredicate.py
venv/Lib/site-packages/setuptools/_imp.py
venv/Lib/site-packages/setuptools/_vendor/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/__pycache__/ordered_set.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/__pycache__/pyparsing.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/more_itertools/__init__.py
venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/more.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/recipes.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/more_itertools/more.py
venv/Lib/site-packages/setuptools/_vendor/more_itertools/recipes.py
venv/Lib/site-packages/setuptools/_vendor/ordered_set.py
venv/Lib/site-packages/setuptools/_vendor/packaging/__about__.py
venv/Lib/site-packages/setuptools/_vendor/packaging/__init__.py
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/__about__.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/_compat.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/_structures.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/_typing.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/markers.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/requirements.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/specifiers.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/tags.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/utils.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/version.cpython-39.pyc
venv/Lib/site-packages/setuptools/_vendor/packaging/_compat.py
venv/Lib/site-packages/setuptools/_vendor/packaging/_structures.py
venv/Lib/site-packages/setuptools/_vendor/packaging/_typing.py
venv/Lib/site-packages/setuptools/_vendor/packaging/markers.py
venv/Lib/site-packages/setuptools/_vendor/packaging/requirements.py
venv/Lib/site-packages/setuptools/_vendor/packaging/specifiers.py
venv/Lib/site-packages/setuptools/_vendor/packaging/tags.py
venv/Lib/site-packages/setuptools/_vendor/packaging/utils.py
venv/Lib/site-packages/setuptools/_vendor/packaging/version.py
venv/Lib/site-packages/setuptools/_vendor/pyparsing.py
venv/Lib/site-packages/setuptools/archive_util.py
venv/Lib/site-packages/setuptools/build_meta.py
venv/Lib/site-packages/setuptools/command/__init__.py
venv/Lib/site-packages/setuptools/command/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/alias.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/bdist_egg.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/bdist_rpm.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/build_clib.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/build_ext.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/build_py.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/develop.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/dist_info.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/easy_install.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/egg_info.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/install.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/install_egg_info.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/install_lib.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/install_scripts.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/py36compat.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/register.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/rotate.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/saveopts.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/sdist.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/setopt.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/test.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/upload.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/__pycache__/upload_docs.cpython-39.pyc
venv/Lib/site-packages/setuptools/command/alias.py
venv/Lib/site-packages/setuptools/command/bdist_egg.py
venv/Lib/site-packages/setuptools/command/bdist_rpm.py
venv/Lib/site-packages/setuptools/command/build_clib.py
venv/Lib/site-packages/setuptools/command/build_ext.py
venv/Lib/site-packages/setuptools/command/build_py.py
venv/Lib/site-packages/setuptools/command/develop.py
venv/Lib/site-packages/setuptools/command/dist_info.py
venv/Lib/site-packages/setuptools/command/easy_install.py
venv/Lib/site-packages/setuptools/command/egg_info.py
venv/Lib/site-packages/setuptools/command/install.py
venv/Lib/site-packages/setuptools/command/install_egg_info.py
venv/Lib/site-packages/setuptools/command/install_lib.py
venv/Lib/site-packages/setuptools/command/install_scripts.py
venv/Lib/site-packages/setuptools/command/launcher manifest.xml
venv/Lib/site-packages/setuptools/command/py36compat.py
venv/Lib/site-packages/setuptools/command/register.py
venv/Lib/site-packages/setuptools/command/rotate.py
venv/Lib/site-packages/setuptools/command/saveopts.py
venv/Lib/site-packages/setuptools/command/sdist.py
venv/Lib/site-packages/setuptools/command/setopt.py
venv/Lib/site-packages/setuptools/command/test.py
venv/Lib/site-packages/setuptools/command/upload.py
venv/Lib/site-packages/setuptools/command/upload_docs.py
venv/Lib/site-packages/setuptools/config.py
venv/Lib/site-packages/setuptools/dep_util.py
venv/Lib/site-packages/setuptools/depends.py
venv/Lib/site-packages/setuptools/dist.py
venv/Lib/site-packages/setuptools/errors.py
venv/Lib/site-packages/setuptools/extension.py
venv/Lib/site-packages/setuptools/extern/__init__.py
venv/Lib/site-packages/setuptools/extern/__pycache__/__init__.cpython-39.pyc
venv/Lib/site-packages/setuptools/glob.py
venv/Lib/site-packages/setuptools/installer.py
venv/Lib/site-packages/setuptools/launch.py
venv/Lib/site-packages/setuptools/monkey.py
venv/Lib/site-packages/setuptools/msvc.py
venv/Lib/site-packages/setuptools/namespaces.py
venv/Lib/site-packages/setuptools/package_index.py
venv/Lib/site-packages/setuptools/py34compat.py
venv/Lib/site-packages/setuptools/sandbox.py
venv/Lib/site-packages/setuptools/script (dev).tmpl
venv/Lib/site-packages/setuptools/script.tmpl
venv/Lib/site-packages/setuptools/unicode_utils.py
venv/Lib/site-packages/setuptools/version.py
venv/Lib/site-packages/setuptools/wheel.py
venv/Lib/site-packages/setuptools/windows_support.py
venv/pyvenv.cfg
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/python.exe
venv/Scripts/pythonw.exe
