{% extends 'base.html' %}

{%  block content  %}
<div class="container align-self-center align-items-center hv mtop-50">
        <main role="main" class="d-flex flex-column align-items-center align-self-center">
            <h1 class="cover-heading">Bem-Vindos ao <span class="text-warning">Estoque</span> <sup class="text-danger">Plus</sup></h1>
            <p class="lead">Sistema para gerenciamento de seu estoque de uma forma fácil e muito prática.</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-warning">Saiba mais</a>
            </p>
        </main>
</div>

{%  endblock  %}