{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-dropbox"></i>
        </div>
        <div class="sidebar-brand-text mx-3"><span class="text-warning">Estoque</span> <sup class="text-danger">Plus</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Cadastros
    </div>

    <!-- Nav Item - Pages Produto Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProd"
            aria-expanded="true" aria-controls="collapseProd">
            <i class="fab fa-dropbox"></i>
            <span>Produtos</span>
        </a>
        <div id="collapseProd" class="collapse" aria-labelledby="headingProd" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Funções</h6>
                <a class="collapse-item" href="{% url "produto:home" %}">Lista de Produtos</a>
                <a class="collapse-item" href="{% url "produto:incluir" %}">Cadastrar Produto</a>
                <a class="collapse-item" href="#">Relatorios</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Categoria Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecategoria"
            aria-expanded="true" aria-controls="collapsecategoria">
            <i class="fas fa-fw fa-tag"></i>
            <span>Categoria</span>
        </a>
        <div id="collapsecategoria" class="collapse" aria-labelledby="headingCategoria"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Funções</h6>
                <a class="collapse-item" href="#">Lista de Categoria</a>
                <a class="collapse-item" href="#">Cadastrar Categoria</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Usuario Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseusuario"
            aria-expanded="true" aria-controls="collapseusuario">
            <i class="fas fa-fw fa-user"></i>
            <span>Usuário</span>
        </a>
        <div id="collapseusuario" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Funções Usuário</h6>
                <a class="collapse-item" href="{% url 'usuario:usuario_list' %}">Lista de Usuarios</a>
                <a class="collapse-item" href="{% url 'usuario:cadastar_usuario' %}">Cadastrar Usuario</a>
                <h6 class="collapse-header">Funções Grupos</h6>
                <a class="collapse-item" href="#">Lista de Grupo Usuarios</a>
                <a class="collapse-item" href="#">Cadastrar Grupo Usuario</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Financiero
    </div>

    <!-- Nav Item - Financiero Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinanciero"
            aria-expanded="true" aria-controls="collapseFinanciero">
            <i class="fas fa-fw fa-folder"></i>
            <span>Financiero</span>
        </a>
        <div id="collapseFinanciero" class="collapse" aria-labelledby="headingFinanciero" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Menu</h6>
                <a class="collapse-item" href="#">Contas a Pagar</a>
                <a class="collapse-item" href="#">Contas a Receber</a>
                <a class="collapse-item" href="#">Caixa</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Relatórios</h6>
                <a class="collapse-item" href="#">contas a pagar</a>
                <a class="collapse-item" href="#">contas a Receber</a>
                <a class="collapse-item" href="#">DRE</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Empresa</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configurações</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg'%}" alt="...">
        <p class="text-center mb-2"><strong>Lennon Bitu</strong > Developer</p>
        <a class="btn btn-info btn-sm" href="https://linkedin.com/in/lennonbitu">Likedin</a>
    </div>

</ul>
<!-- End of Sidebar -->